.App{
  margin: 20px;
    text-align: center;
}
span{
    display: inline-block;
    padding-left: 50px;
}
li{
    padding-bottom: 10px;
}
button{
    font-size: inherit;
}
.btn-danger{
    font-size: 10px;
}
h3{
    color: midnightblue;
}

h4{
    color: brown;
    font-size: 18px;
    margin: 10px;

}
.container{
    margin-right: auto;
    margin-left: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}
tr{
    color: orange;
}